.navbar {
  background-color: rgb(49,82,112);
  padding: 20px 10px;
  font-size: 18px;
  transition: top 0.3s;
}

.navbar .navbar-brand {
  margin-right: auto;
  margin-left: 20px;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .btn-login,
.navbar-nav .btn-register {
  background-color: rgb(49,82,112);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav .btn-login:hover,
.navbar-nav .btn-register:hover {
  background-color: #3b5b79;
}

.navbar.navbar-hidden {
  top: -100px; /* Hide the navbar */
}

.fixed-top {
  top: 0;
  z-index: 1030;
}
