<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <button class="close-btn" (click)="closeModal()">&times;</button>
    <h3>Login</h3>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control">
    </div>
    <button class="btn btn-primary" (click)="login()">Login</button>
    <button class="btn btn-link" (click)="forgotPassword()">Forgot Password</button>
  </div>
</div>
