<div class="section-four">
  <div class="list-container">
    <div class="list left-list">
      <ul>
        <li class="list-heading">Help</li>
        <li><a href="#">Help Centre</a></li>
        <li><a href="#">Help Forum</a></li>
      </ul>
    </div>
    <div class="list right-list">
      <ul>
        <li class="list-heading">Community</li>
        <li><a href="#">Blog Sect</a></li>
      </ul>
    </div>
    <div class="list right-list">
      <ul>
        <li class="list-heading">Developers</li>
        <li><a href="#">Blog API</a></li>
        <li><a href="#">Developer Forum</a></li>
      </ul>
    </div>
  </div>
  <hr class="divider">
  <p class="footer-links"><a href="#">Terms of Service </a> | <a href="#"> Privacy </a>|<a href="#"> Content Policy</a></p><br>
  <select class="language-dropdown">
    <option value="en">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
    <!-- Add more options as needed -->
  </select>
</div>
